In [0]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType

# Create Spark session
spark = SparkSession.builder.appName("LogsData").getOrCreate()

# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("num", IntegerType(), True)
])

# Create data
data = [
    (1, 1),
    (2, 1),
    (3, 1),
    (4, 2),
    (5, 1),
    (6, 2),
    (7, 2)
]

# Create DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

In [0]:
/* Write your T-SQL query statement below */
with logs_cte as(
select num,
        lead(num,1) over(order by id) num1,
        lead(num,2) over(order by id) num2
        from logs
)
select distinct num as ConsecutiveNums
from logs_cte
where num=num1 and num1=num2

In [0]:
w1 = Window.orderBy('id')
logs_df = df.withColumn('num1', lead('num',1).over(w1)).withColumn('num2', lead('num',2).over(w1)) \
    .filter('num=num1' and 'num1=num2') \
        .select(col('num').alias('ConsecutiveNums')).distinct()

display(logs_df)