In [0]:
from pyspark.sql.functions import *

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Start Spark session
spark = SparkSession.builder.getOrCreate()

# Define schema
schema = StructType([
    StructField("employee_id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("manager_id", IntegerType(), True),
    StructField("salary", IntegerType(), True)
])

# Data
data = [
    (3, "Mila", 9, 60301),
    (12, "Antonella", None, 31000),
    (13, "Emery", None, 67084),
    (1, "Kalel", 11, 21241),
    (9, "Mikaela", None, 50937),
    (11, "Joziah", 6, 28485)
]

# Create DataFrame
emp_df = spark.createDataFrame(data, schema)

# Show data
emp_df.show()
mgr_df = df
mgr_df.show()

In [0]:
# /* Write your T-SQL query statement below */
select e.employee_id
from employees e
left join employees m
on e.manager_id = m.employee_id
where e.salary < 30000 
and e.manager_id is not null 
and m.employee_id is null
order by e.employee_id

In [0]:
result_df = emp_df.join(mgr_df, emp_df.manager_id==mgr_df.employee_id, 'left') \
    .where(emp_df.manager_id.isNotNull() & mgr_df.employee_id.isNull()) \
        .filter(emp_df.salary < 30000) \
            .select(emp_df.employee_id)
result_df.show()