In [0]:
from pyspark.sql.functions import *

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Start Spark session
spark = SparkSession.builder.getOrCreate()

# Input data
data = [
    (1, 'Abbot'),
    (2, 'Doris'),
    (3, 'Emerson'),
    (4, 'Green'),
    (5, 'Jeames')
]

# Create DataFrame
df = spark.createDataFrame(data, ['id', 'student'])

# Show DataFrame
df.show()

In [0]:
/* Write your T-SQL query statement below */

with seat_cte as(
    select *,
    ROW_NUMBER() over(order by id) as rnk,
    count(*) over() as total
    from seat
)
select id,
case 
    when rnk%2 = 1 and rnk+1 <= total then lead(student) over(order by id)
    when rnk%2 = 0 then lag(student) over(order by id) 
    else student end as student
from seat_cte